
.fishfarmclub__feature-card{
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    width: 250px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #ffffff;
    /* margin: 25rem 5rem; */
}


.fishfarmclub__feature-card:hover{
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.fishfarmclub__feature-card img{
    
      width: 100%;
}
.fishfarm__feature-card_content{
   padding: 2rem 1rem;
}

/* MEDIA QURIES */

/* Mobile devices */

@media screen and (max-width:995px){
    .fishfarmclub__feature-card{
       width: 209px;
       height: 294px;
      }
      .fishfarm__feature-card_content{
         padding: 1rem 1rem;
      }
   }
   @media screen and (max-width:768px){
      .fishfarmclub__feature-card{
       height: 320px;
      
   }
   .fishfarm__feature-card_content{
    
 }
}