
.fishfarnclub__testimonials{
    display: flex;
    margin-top: 0;
    max-width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
}





.fishfarnclub__testimonials-feature{

    flex: 1;
    background-image: url('../../assets/slant_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 668px;
    display: flex;
    position: relative;
    margin-top: -16.5rem;
    margin-bottom: -5rem;
    z-index: -1;
    
}

.fishfarnclub__testimonials-feature .card_1{
    padding: 15rem 5rem 15rem 10rem;
    
}
.fishfarnclub__testimonials-feature .card_2{
    padding: 18rem 2rem;
    
}
.fishfarm__testimonials-features_content{
    font-family: var(--font-family);
    padding: 22rem 2rem;
    text-align: center;
    margin: 2rem;
    font-size: 1rem;

}

.fishfarm__testimonials-features_content h1{
   
    padding-bottom: 2rem;

}

/* MEDIA QURIES */

@media screen and (max-width:1250px){
    .fishfarnclub__testimonials-feature{
        
        display: flex;
        padding: 0 1rem;
        margin-top: 0.5rem;
        
    }

    .fishfarm__testimonials-features_content{
    
        padding: 5rem 1rem;
        text-align: center;
        
        font-size: 1rem;
    
    }
    .fishfarnclub__testimonials-feature .card_1{
        
        padding: 1rem;

        
        
        
    }
    .fishfarnclub__testimonials-feature .card_2{
        padding: 1rem;
        margin-top: 10rem;
        margin-left: auto;
        margin-right: 1rem;
        
    }

    .fishfarm__testimonials-features_content h1{
        text-align: center;
        /* padding-bottom: 2rem; */
    
    }
}
/* Upper Mid Size Devices */
   
@media screen and (max-width:1115px){
    .fishfarnclub__testimonials-feature{
        
        
        padding: 0 1rem;
        margin-top: 0.5rem;
        
    }
    .fishfarnclub__testimonials-feature .card_1{
        padding: 0 auto 0 0.2rem;
        
        
    }
    .fishfarnclub__testimonials-feature .card_2{
        padding: 1rem;
        margin-top: 5rem;
        margin-left: auto;
        margin-right: 1rem;
        
       
    }
    .fishfarm__testimonials-features_content{
        margin: 5rem 2rem;
        text-align: center;
        font-size: 1.2rem;
    }
    .fishfarm__testimonials-features_content h1{
        
        margin-top: 1rem;
        text-align: center;
        font-size: 1.8em;
    
    }
    .fishfarm__testimonials-features_content p{
         font-size: 1em;
        line-height: 1.5rem;
    }

}

/* Tablets */
@media screen and (max-width:978px){
    .fishfarnclub__testimonials-feature .card_2{
        padding: 1em;
        margin-top: 5em;
        margin-left: auto;
        margin-right: 1em;
        
       
    }
    .fishfarm__testimonials-features_content{
        margin: .2rem;
        text-align: center;
        font-size: .8rem;
    }
    .fishfarm__testimonials-features_content h1{
        
        margin-top: 2em;
        text-align: center;
        /* padding-bottom: 2rem; */
    
    }
    .fishfarm__testimonials-features_content p{
         
        line-height: 1.5rem;
    }

}

@media screen and (max-width:880px){
    .fishfarnclub__testimonials-feature{
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        margin-top: 0.5rem;
        
    }
    .fishfarnclub__testimonials-feature .card_1{
        margin: 0 auto 0 5em;
        
        
    }
    .fishfarnclub__testimonials-feature .card_2{
        padding: 1rem;
        margin-top: -15rem;
        margin-left: 20em;
        margin-right: auto;
        
       
    }
    .fishfarm__testimonials-features_content{
        padding: 1rem 2rem;
        margin: 0 auto;
        text-align: center;
        font-size: 1.2rem;
    }
    .fishfarm__testimonials-features_content h1{
        
        margin-top: 0rem;
        text-align: center;
        /* padding-bottom: 2rem; */
    
    }
    .fishfarm__testimonials-features_content p{
         
        line-height: 1.5rem;
    }

}
/* Media Query  */
    /* Xsmall devices */
@media screen and (max-width:676px){

    .fishfarm__testimonials-features_content{
        
        padding: 1rem ;
        text-align:left;
        margin: -2rem auto auto;
        font-size: .5rem;
    
    }
    .fishfarnclub__testimonials-feature .card_1{
    
        margin: 1rem auto 2rem 0;
       
        
        
    }
    .fishfarnclub__testimonials-feature .card_2{
        margin: -15rem 1rem auto auto;
        /* padding: 5rem 0 auto auto; */
    
       
    }


    .fishfarm__testimonials-features_content h1{
        
        margin-top: -5rem;
        font-size: 1.5rem;
        /* padding-bottom: 2rem; */
    
    }
    .fishfarm__testimonials-features_content p{
        text-align: center;
         font-size: 1rem;
        line-height: 1rem;
    }
    
}
@media screen and (max-width:550px){
    .fishfarnclub__testimonials-feature{
        height: 968px;
    }

    .fishfarm__testimonials-features_content{
        
        padding: 1rem ;
        text-align:center;
        margin: -2rem auto auto;
        font-size: .5rem;
    
    }
    .fishfarnclub__testimonials-feature .card_1{
    
        margin: 1rem auto ;
       
        
        
    }
    .fishfarnclub__testimonials-feature .card_2{
        margin: 2rem  auto ;
        /* padding: 5rem 0 auto auto; */
    
       
    }


    .fishfarm__testimonials-features_content h1{
        
        margin-top: 1rem;
        font-size: 1.5rem;
        /* padding-bottom: 2rem; */
    
    }
    .fishfarm__testimonials-features_content p{
         font-size: 1rem;
        line-height: 1rem;
    }
    
}
