.fishfarmclub__navbar{
    /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  /* max-width: 1440px; */
}

.fishfarmclub__navbar a.active {
    color: #F67701;
    border-bottom: 1px solid #11100f;
}

.fishfarmclub__navbar-Navlinks {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.fishfarmclub__navbar-links{
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: space-between;
    }
    .fishfarmclub__navbar-links_logo{
    justify-content: flex-start;
    margin-right: 2rem;
}
.fishfarmclub__navbar-links_logo a img{
    width: 238px;
    height: 41px;

}
.fishfarmclub__navbar-links_container{

     display: flex;
     justify-content: flex-end;
}
.fishfarmclub__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

.fishfarmclub__navbar-links_container a,
.fishfarmclub__navbar-menu_container a{

    font-family: var(--font-family);
    font-weight: 800;
    
    font-size: 14px;
    text-transform: uppercase;
    margin: 1rem 1rem;
    cursor: pointer;
    border-bottom: 1px solid #F67701;
    border-width: 3px;
    

}
.fishfarmclub__cta ,
.fishfarmclub__navbar-menu_container button{
    cursor: pointer;
    font-family: var(--font-family);
    background-color:#F67701 ;
    width: 168px;
    height: 41px;
    font-size: 1rem;
    font-weight: 800;
    padding: 0.7rem;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    line-height: 20px;
    outline: none;
    border: none;
}

.fishfarmclub__navbar-menu{
    display: none;
    margin-left: 1rem;
    position: relative;

}
.fishfarmclub__navbar-menu svg{
    cursor: pointer;
    color: var(--color-footer);
}
.fishfarmclub__navbar-menu svg path{
    
    color: var(--color-footer);
}
.fishfarmclub__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
}


.fishfarmclub__navbar-menu_container a:not(:last-child){
    display: block;
    margin: 1rem 0;
}
/* MEDIA QUERIES */

@media screen and (max-width: 1193px){
    .fishfarmclub__navbar-links_container a{
        font-size: 12px;
    }
}
@media screen and (max-width: 1150px){
    .fishfarmclub__navbar-links_container a{
        font-size: 10px;
        margin: 0 .5rem;
    }
}
@media screen and (max-width: 1050px){
    .fishfarmclub__navbar-links_container{
        display: none;
    }
    .fishfarmclub__navbar-menu{
        display: flex;
        color: #ffffff;
    }
    .fishfarmclub__navbar-menu_container .fishfarmclub__cta{
        display: none;
    
    }

}
@media screen and (max-width: 700px){
     .fishfarmclub__navbar{
         padding:2rem 4rem ;
     }
}
@media screen and (max-width: 550px){
     .fishfarmclub__navbar{
         padding:2rem  ;
     }
   .fishfarmclub__navbar-Navlinks  + .fishfarmclub__cta{
       display: none;
     }
   
     .fishfarmclub__navbar-menu_container .fishfarmclub__cta{
         width: 120px;
        display: inline-block;
        padding: 0.5rem 0;
    
    } 
     .fishfarmclub__navbar-menu_container{
        top: 35px;
        text-align: right !important;
    
    } 
    .fishfarmclub__navbar-menu_container-links a:not(:last-child){
        width: max-content;
        margin-left: auto;
        margin-right: 0;
    }
}
@media screen and (max-width: 375px){
    .fishfarmclub__navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;
    }
    .fishfarmclub__navbar-Navlinks_logo img{
        width: 150px;
        height: 41px;
    
    }


    .fishfarmclub__cta {
        display: none;
        width: 95px;

    }
    
    .fishfarmclub__cta a{
        
        font-size: .8rem;
    }
}
@media screen and (max-width:280px){
    .fishfarmclub__navbar-Navlinks_logo img{
        width: 158px;
        height: 41px;
    
    }
}