*{
    margin: 0;
    padding: 0;
}
.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    transinvest: translate(0,0);
    top:0;
    left:0;    
}
.modalContainer{
    position: fixed;
    width: 100%;
    max-width: 400px;
}






.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup invest - hidden by default */
  .invest-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the invest container */
  .invest-container {
      position: fixed;
      max-width: 400px;
      width: 100%;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);

      padding: 10px;
      background-color: white;
  }
  
  /* Content */
  .invest-container p {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    line-height: 1.5;
  }
  .invest-container a{
    text-align: center;
  }
  
  /* When the inputs get focus, do something */
  
  
  /* Set a style for the submit/login button */
  .invest-container .btn {
    background-color: #f67701;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .invest-container .cancel {
    background-color: grey;
  }
  
  /* Add some hover effects to buttons */
  .invest-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  