@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;800&family=Roboto:wght@300;400&family=Source+Code+Pro:wght@400;900&family=Source+Sans+Pro:wght@300;900&display=swap');
:root {
  --font-family: 'Raleway', sans-serif;
  
  --gradient-text: linear-gradient(89.97deg, #040404 1.84%, #050505  102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #fffff;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}
